@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(to right,#66DCED,#6AF7E2,#6CE0AE,#6AF792,#66ED66 );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px,5px,15px #19373b ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    text-shadow: 13px 20px 25px rgba(236, 20, 20, 0.932);
}
p{
    text-align: justify;
}